.search{
        height:40px;
        font-size:14pt;
        width:100%;
        display: flex;
        top: 0px;
        margin-bottom: 5px;
}
.search input{
    flex: 1;  
    box-sizing:border-box;
    border-style:none;   
}
input[type="text"], textarea {
    background-color : #d1d1d1; 
}